<h1>Exam 1</h1>

<div style="color:blue">
<%= form_for :exams, url: exams_path do |f| %>

<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</p>


<p>
    <%= f.label :student_number %><br>
    <%= f.text_field :student_number %>
</p>


<p>
    <%= f.submit %>
</p>
<% end %>
</div>